<h1 class="text-center text-primary text-uppercase heading-text mb-3">Public Recipes</h1>
<div class="d-flex flex-column text-light">
  <% @public_recipes.each do |recipe| %>
    <div class="d-flex justify-content-between align-items-start bg-primary pt-4 pb-3 mb-2 ps-5 pe-5">
      <div>
        <h2><%= recipe.name %></h2>
        <h6> By <%= recipe.user.name %></h6>
      </div>

      <div>
        <p>Total Food Items: <%= recipe.total_food_items %></p>
        <p>Total Price: $<%= number_to_currency(recipe.total_price, unit: '') %></p>
      </div>
    </div>
  <% end %>
</div>
