<h1 class="text-center text-primary text-uppercase heading-text mb-3">My Recipes</h1>
<div class="d-flex flex-column text-light">
  <% @recipes.each do |recipe| %>
    <div class=" w-100 d-flex justify-content-between bg-primary mb-2 p-3">
      <div>
        <%= link_to recipe_path(recipe), class: 'link text-white text-decoration-none' do %>
          <h2><%= recipe.name %></h2>
        <% end %>
        <%= link_to 'Delete', recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this recipe?' }, class: 'btn btn-outline-warning' %>
      </div>
      <div class="w-50">
        <p><%= recipe.description %></p>
      </div>
    </div>
  <% end %>
</div>
