<h1 class="text-center text-primary text-uppercase heading-text mb-3">Recipe <%= @recipe.id %></h1>
<div class="d-flex flex-column gap-3">
  <div class="d-flex align-items-baseline justify-content-between lead">
    <div class="d-flex flex-column gap-2">
      <p>Preparation time: <%= @recipe.preparation_time %> minutes</p>
      <p>Cooking time: <%= @recipe.cooking_time %> minutes</p>
      <p>Steps goes here...</p>
    </div>
  </div>