<footer class="footer mt-auto py-3 bg-primary">
  <div class="container text-center">
    <span class="text-light">© <%= Time.now.year %> <%= link_to "recipe-app", "https://github.com/sahlminkok/recipe-app", class: "text-decoration-none text-info" %> by Sahalu Aminu and Phelelani Ndlovu</span>
  </div>
</footer>
